fastapi
uvicorn[standard]

pydantic

pymupdf
python-docx
watchdog

sentence-transformers[onnx,openvino]
optimum-intel
faiss-cpu
numpy<2.5
fsspec<=2026.6.0

google-api-python-client
google-auth-httplib2
google-auth-oauthlib
keyring

onnx
openvino==2025.4.1
onnxruntime-openvino==1.24.1
onnxruntime-qnn
